@import url('https://fonts.googleapis.com/css?family=Raleway|Roboto&display=swap');

html {
  scroll-behavior: smooth;
}

body {
  text-align: center;
  background-color: #f4f4f4;
  justify-content: center;
  margin: 0;
}

/*Banner*/

.banner {
  width: 100%;
  height: 90vh;

  position: relative;
  overflow: hidden;
  background: transparent;
  color: #fff;

  display: flex;
  justify-content: left;
  align-items: left;
}

.banner::before {
    content: '';
    position: absolute;
    top: -15px;
    left: -15px;
    z-index: -1;

    width: 120%;
    height: 110%;

    /* Background... */
    background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('./images/hackerman.jpg');
    background-size: cover;
    background-position: bottom;
    background-clip: content-box;
    filter: blur(5px);
    transition: all 2s ease-in-out;
}

.banner:hover::before {
  transition: all 2s ease-in-out;
  background-position: top;
}

.banner-text {
  margin-top: 590px;
  margin-left: 50px;
  padding: 10px;
  height: 100px;
  width: 100vw;
  justify-content: left;
  text-align: left;

  font-size: 90px;
  font-family: 'Raleway', sans-serif;
  font-weight: lighter;
}


/*Containers*/

.main-container {
  width: 90vw;
  margin: auto;
  display: block;
}

.tarja {
  width: 100%;
  background: #7053c6;
}

.header {
  padding: 75px 150px;
  margin: 50px auto;
  display: flex;
}

.header-text {
  margin-left: 50px;
  padding-top: 0;
  display: block;
}


/*Text*/

.header-text > h1 {
  text-align: right;
  font-family: 'Roboto', sans-serif;
  font-size: 50px;
  color: white;
  margin-top: 0;
}

.header-text > p {
  font-family: 'Raleway', sans-serif;
  text-align: right;
  text-decoration: none;
  color: white;
  font-size: 18px;
}

.highlight {
  text-decoration: none;
  font-weight: bolder;
  color: white;
}

.highlight:hover {
  color: #d34144;
  cursor: pointer;
}

.arrow {
  text-align: center;
  margin-top: 30px;
  font-size: 30px;
  color: #7053c6;
  -moz-animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
}

.arrow:hover {
  color: #d34144;
  cursor: pointer;
}

/*
a {
  font-family: 'Raleway', sans-serif;
  text-decoration: none;
  text-align: center;
  font-weight: bold;
}*/

/*a:hover {
  color: #4d3791;
}*/


h2 {
  margin-top: 30px;
}

p {
  font-family: 'Raleway', sans-serif;
  /*text-align: center;*/
  text-decoration: none;
  margin-bottom: 75px;
}

.subtle-text {
  color: #e8e8e8;
}

ul {
  text-align: center;
  list-style-type: none;
  padding: 0;
}

ul > li {
  display: inline-block;
  padding: 0px 10px;
  font-size: 30px;
}



/*Components*/

#avatar {
  transition: all 1s linear 0.1s;
  border-radius: 50%;
  /*margin: 10px;*/
  height: 350px;
  width: 350px;
  display: block;
}

#avatar:hover {
  transition: all 1s linear 0.1s;
  animation: pulse 2s infinite;
}




/*.content {
  width: 800px;
  margin: 0 auto;
}*/

.footer {
  /*background: white;*/
  box-shadow: 20px 20px 20px 20px rgba(0,0,0,.1);
  padding: 25px;
/*  margin: 15px;*/
  background: #f7f7f7;
/*  border-radius: 15px;*/
}



.btn-site {
  background-color: #7053c6;
  padding: 8px 24px;
  border-radius: 6px;
  color: white;
  margin: 20px 20px;
}

.social {
  color: #7055C6;
}

.social:hover {
  color: #d34144;

  border-radius: 50%;
  box-shadow: 0 0 0 0 rgba(0, 0, 0, .2);
  transform: scale(1);
  animation: pulse 2s infinite;

}

.little-gif {
  height: 40px;
}

.little-gif-frog {
  height: 50px
}

.little-gif-mega {
  height: 50px;
}

.little-gif-follow {
  height: 50px;
}




/*@media (max-width: 960px) {
  .content {
    width: 700px;
  }
  .header {
    width: 600px;
  }
}*/

/*@media (max-width: 720px) {
  .content {
    width: 500px;
  }
  .header {
    width: 500px;
  }
}*/

/*@media (max-width: 540px) {
  .content {
    width: 300px;
  }
  .header {
    width: 300px;
  }
}*/


/*Media Querys*/

@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .banner-text {
    font-size: 70px;
    margin-top: 640px;
    margin-left: 45px;
  }
}
@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .banner-text {
    font-size: 60px;
    margin-top: 670px;
    margin-left: 40px;
  }
}
@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .banner-text {
    font-size: 45px;
    margin-top: 710px;
    margin-left: 35px;
  }
}


/*Animations*/

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-15px);
  }
  60% {
    transform: translateY(-10px);
  }
}

@keyframes pulse {
  0% {
    transform: scale(1);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }

  55% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
  }

  100% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
  }
}
